<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IE</title>

	<style>
		html, body {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100vh;
			background: #352746;
			background: -moz-linear-gradient(top,  #352746 0%, #8b50c3 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #352746 0%,#8b50c3 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #352746 0%,#8b50c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352746', endColorstr='#8b50c3',GradientType=0 ); /* IE6-9 */
			background-repeat: no-repeat;
			color: white;
		}
		div {
			margin: 0 auto;
			padding: 30px;
			position: relative;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
			width: 90%;
			max-width: 600px;
		}
	</style>
</head>
<body>

<div>
	<h1>Sorry, Internet Explorer is not compatible with our website.</h1>
	<h2>If you're not using Internet Explorer, please contact a member of staff or use the contact form in our website.</h2>
</div>

</body>
</html>
