<!DOCTYPE html>
<html lang="en">
<head>
	<!--    MAIN INFO    -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jupiter Notify</title>

	<!--    MAIN CSS    -->
	<link rel="stylesheet" href="/css/response.css">

	<!--    FAVICON    -->
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicons/site.webmanifest">
	<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ff8e00">
	<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>

<div class="container">
	<% if (status === "payment-success") { %>	<%# Payment statuses %>
		<h1>Payment was successful</h1>
		<p>Thanks for subscribing! If you have any issues, please contact a member of staff, we'll be glad to help.</p>
		<a class="button" href="/dashboard">Go to Dashboard</a>
	<% } else if (status === "payment-fail") { %>
		<h1>Payment was cancelled</h1>
		<p>Something went wrong during the payment phase. If you can't complete the payment, please contact a member of staff, we'll be glad to help.</p>
		<a class="button" href="/">Go Back</a>
	<% }

	else if (status === "cancel-role") { %>		<%# Cancel statuses %>
		<h1>Cancel was successful</h1>
		<p>You have cancelled your membership. If there was an error, please contact a member of staff or send an email to let us know.</p>
		<a class="button" href="/">Go Home</a>
	<% }

	else if (status === "transfer-success") { %>	<%# Transfer statuses %>
		<h1>Transfer successful</h1>
		<p>You transferred your membership successfully. We're sorry that you're leaving us. If you need help, don't hesitate contacting us.</p>
		<a class="button" href="/">Go Home</a>
	<% } else if (status === "transfer-fail") { %>
		<h1>Transfer failed</h1>
		<p>Transfer could not be completed. If you need help, please contact a member of staff or send us an email.</p>
		<a class="button" href="/dashboard">Go Back</a>
	<% } else if (status === "transfer-staff") { %>
		<h1>Transfer failed</h1>
		<p>You can't transfer a staff role to another person. If you need help, contact one of the owners.</p>
		<a class="button" href="/dashboard">Go Back</a>
	<% } %>
</div>

</body>
</html>
