<!DOCTYPE html>
<html lang="en">
<head>
	<!--    MAIN INFO   -->
	<meta charset="UTF-8">
	<title>Terms & Conditions</title>

	<!--    STYLE   -->
	<style>
		@font-face { font-family: Clean; font-weight: 100; src: url("/assets/fonts/Clean-100.otf"); }
		@font-face { font-family: Clean; font-weight: 200; src: url("/assets/fonts/Clean-200.otf"); }
		@font-face { font-family: Clean; font-weight: normal; src: url("/assets/fonts/Clean-400.otf"); }
		@font-face { font-family: Clean; font-weight: 400; src: url("/assets/fonts/Clean-400.otf"); }
		@font-face { font-family: Clean; font-weight: bold; src: url("/assets/fonts/Clean-500.otf"); }
		@font-face { font-family: Clean; font-weight: 500; src: url("/assets/fonts/Clean-500.otf"); }
		html, body {
			color: white;
			background-color: #352746;
			margin: 0;
			padding: 0;
			font-family: Clean, sans-serif;
			text-align: center;
		}
		::selection { color: black; background: #E9F0F9; }
		::-moz-selection { color: black; background: #E9F0F9; }
		h1 { font-size: 50px; font-weight: bold; margin: 60px auto; }
		.container {
			width: 80%;
			max-width: 1200px;
			text-align: left;
			margin: 0 auto 50px;
			padding: 0 50px;
			box-sizing: border-box;
		}
		h6 {
			margin: 80px 0 0;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 500;
		}
		p {
			color: #DDD;
			font-size: 18px;
			font-weight: 200;
		}
		a { color: white; }
		a img {
			width: 70px;
			position: absolute;
			top: 30px;
			left: 50px;
		}

		@media screen and (max-width: 1100px) { .container { width: 90%; } }
		@media screen and (max-width: 900px) {
			.container { width: 96%; }
			a img { width: 60px; top: 10px; left: 10px; }
		}
		@media screen and (max-width: 800px) { .container { width: 100%; padding: 0 25px; } }
		@media screen and (max-width: 500px) {
			h1 { font-size: 40px; margin-bottom: 0; }
			.container { width: 100%; padding: 0 25px; }
			h6 { font-size: 22px; }
			p { font-size: 16px; }
		}
		@media screen and (max-width: 400px) {
			a img { width: 50px; }
		}
	</style>

	<!--    FAVICON    -->
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicons/site.webmanifest">
	<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#352746">
	<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#352746">
	<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffaa30">
</head>
<body>

<h1>Terms & Conditions</h1>

<div class="container">
	<h6>MEMBERSHIP INFO</h6>
	<p>
		If you become a member, if and when these prices increase, you will not have to pay more.
		You will still be billed the amount you paid when you first joined, monthly. Loyalty is rewarded.
		<br><br>
		To join, please visit <a href="/" target="_blank">https://www.jupiternotify.com/</a> to see if Memberships are In Stock.
		If they are, you may purchase one right on that same site using a Credit or Debit Card.
		Every member, upon purchasing, gets access to their own <b>personal dashboard</b> in which
		they can find their personal license key, join the Discord and claim access, unbind the
		key to give it away or sell it, and much more.
	</p>

	<h6>TERMS OF SERVICE</h6>
	<p>
		As this is a digital service, we <b>cannot</b> provide any refunds for any reason at all, unless there was:
		a double charge, a charge when a membership was previously cancelled, or a charge which is suspected to be fraudulent.
		All sales are 100% final. Monthly subscriptions can be cancelled at any time through our dashboard on our website.
		<br><br>
		By purchasing, you confirm that you understand the Terms of Service, you confirm that you understand the
		fact that this is a digital service and we may add to, remove, or update features at any time, and we do
		not make any guarantees as to the availability of our services in general. You also agree to follow our
		rules and condone that if you break any of them multiple times, we reserve the right to ban you without refund.
	</p>
</div>

<a href="/"><img src="/assets/jupiter_planet_smaller_min.png" alt="Jupiter logo" /></a>

</body>
</html>
