@font-face {
  font-family: Clean;
  font-weight: 100;
  src: url("/assets/fonts/Clean-100.otf");
}
@font-face {
  font-family: Clean;
  font-weight: 200;
  src: url("/assets/fonts/Clean-200.otf");
}
@font-face {
  font-family: Clean;
  font-weight: normal;
  src: url("/assets/fonts/Clean-400.otf");
}
@font-face {
  font-family: Clean;
  font-weight: 400;
  src: url("/assets/fonts/Clean-400.otf");
}
@font-face {
  font-family: Clean;
  font-weight: bold;
  src: url("/assets/fonts/Clean-500.otf");
}
@font-face {
  font-family: Clean;
  font-weight: 500;
  src: url("/assets/fonts/Clean-500.otf");
}
@font-face {
  font-family: Clean;
  font-weight: 600;
  src: url("/assets/fonts/Clean-600.otf");
}
::selection {
  color: black;
  background: #E9F0F9;
}

::-moz-selection {
  color: black;
  background: #E9F0F9;
}

button, a, input {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  color: white;
}
button:hover, button:focus, a:hover, a:focus, input:hover, input:focus {
  background: none;
}
button:focus, a:focus, input:focus {
  outline: none;
}
button:disabled, button.disabled, a:disabled, a.disabled, input:disabled, input.disabled {
  background-color: #666 !important;
  cursor: auto !important;
  pointer-events: none !important;
}
button:disabled:hover, button.disabled:hover, a:disabled:hover, a.disabled:hover, input:disabled:hover, input.disabled:hover {
  background-color: #666 !important;
  transform: none !important;
}
button:disabled a, button.disabled a, a:disabled a, a.disabled a, input:disabled a, input.disabled a {
  cursor: auto !important;
  pointer-events: none !important;
}

input[type=text] {
  background-color: rgba(255, 255, 255, 0.2);
}

button.button, a.button {
  display: inline-block;
  padding: 13px 26px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 14px;
  background-color: #333;
  transition: background-color 0.15s linear;
}
button.button:hover, a.button:hover {
  background-color: #2b2b2b;
}

.confirm-popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.confirm-popup .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.confirm-popup .container {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #362746;
  background: -moz-linear-gradient(top, #352746 0%, #8b50c3 100%);
  background: -webkit-linear-gradient(top, #352746 0%, #8b50c3 100%);
  background: linear-gradient(to bottom, #352746 0%, #8b50c3 100%);
  background-repeat: no-repeat;
  border-radius: 32px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.confirm-popup .container p {
  font-size: 22px;
  width: 80%;
}
.confirm-popup .container > div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.confirm-popup .container > div a {
  font-size: 18px;
  cursor: pointer !important;
  pointer-events: auto !important;
  font-weight: 400;
}
.confirm-popup .container > div a[href] {
  font-size: 20px;
  font-weight: bold;
  padding: 18px 32px;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out;
  background-color: #5b2872;
  transition: background-color 0.15s linear;
}
.confirm-popup .container > div a[href]:hover {
  background-color: #4c215f;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: white;
  text-align: center;
  font-family: Clean, sans-serif;
  background: #362746;
  background: -moz-linear-gradient(top, #352746 0%, #8b50c3 100%);
  background: -webkit-linear-gradient(top, #352746 0%, #8b50c3 100%);
  background: linear-gradient(to bottom, #352746 0%, #8b50c3 100%);
  background-repeat: no-repeat;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #352746 url("/assets/bg_stars_min.svg") center center no-repeat;
  background-size: cover;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  width: 150px;
  animation: loading-image 1s ease-in-out infinite;
}
.loader .orbit {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  transform-origin: 50% 50%;
  animation: rotate 8s linear infinite;
}
.loader .orbit .orbit-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard {
  position: relative;
  margin: 0 auto;
  width: 1300px;
  height: 750px;
  max-width: 1400px;
  max-height: 800px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column nowrap;
}
.dashboard .tabs-container {
  height: 50px;
  min-height: 50px;
  background: #0A0A0A;
  text-align: left;
  padding: 0 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dashboard .tabs-container > div + div {
  margin-left: -6px;
}
.dashboard .tabs-container .tab {
  height: 100%;
  min-width: 150px;
  max-width: 160px;
  padding: 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.dashboard .tabs-container svg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
}
.dashboard .tabs-container svg path {
  fill: #111;
}
.dashboard .tabs-container input, .dashboard .tabs-container label {
  z-index: 2;
  cursor: pointer;
}
.dashboard .tabs-container input {
  display: none;
}
.dashboard .tabs-container label {
  position: relative;
  font-size: 18px;
  top: -4px;
}
.dashboard .tabs-container .tab.active svg path {
  fill: #333;
}
.dashboard .content {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  background: #333;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .content > div {
  width: calc(100% - 80px);
  height: calc(100% - 120px);
}
.dashboard .content > div:not(.active) {
  display: none;
}
.dashboard .content__members {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 60px;
  scrollbar-color: white #2A2A2A;
  scrollbar-width: thin;
}
.dashboard .content__members::-webkit-scrollbar-track {
  background-color: #2A2A2A;
  border-radius: 1000vmax;
}
.dashboard .content__members::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.dashboard .content__members::-webkit-scrollbar-thumb {
  border-radius: 1000vmax;
  background-color: white;
}
.dashboard .content__members__settings {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 60px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}
.dashboard .content__members__settings > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.dashboard .content__members__settings > div > * + * {
  margin-left: 40px;
}
.dashboard .content__members__settings span {
  font-size: 21px;
}
.dashboard .content__members__settings button {
  height: calc(60px / 2);
}
.dashboard .content__members__settings button img {
  height: calc(60px / 2);
}
.dashboard .content__members__settings input[type=text] {
  width: 180px;
  height: 30px;
  cursor: text;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: normal;
}
.dashboard .content__members__settings input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__members__settings input[type=text]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__members__settings input[type=text]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__members__settings input[type=text]:focus {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
}
.dashboard .content__members__settings .dropdown {
  position: relative;
}
.dashboard .content__members__settings .dropdown__button {
  font-size: 18px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.dashboard .content__members__settings .dropdown__button img {
  width: 18px;
  margin-left: 10px;
}
.dashboard .content__members__settings .dropdown__content {
  background: #282828;
  position: absolute;
  top: 0;
  left: -5px;
  width: 170px;
  transform: translateY(30px);
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  text-transform: capitalize;
  z-index: 10;
}
.dashboard .content__members__settings .dropdown__content input {
  display: none;
}
.dashboard .content__members__settings .dropdown__content label {
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 5px;
  width: 100%;
  text-align: left;
}
.dashboard .content__members__settings .dropdown__content > label + input + label {
  border-top: 1px solid #383838;
  padding-top: 5px;
}
.dashboard .content__members__settings .dropdown__content label:last-of-type {
  padding-bottom: 0;
}
.dashboard .content__members__settings .dropdown__content label:hover {
  color: #BBB;
}
.dashboard .content__members__settings .dropdown.active .dropdown__content {
  display: flex;
}
.dashboard .content__members__settings #refresh-members:not(.animation) img {
  transform: rotate(0);
}
.dashboard .content__members__settings #refresh-members.animation img {
  transform: rotate(360deg);
  transition: transform 0.5s ease-out;
}
.dashboard .content__members > .member + .member {
  margin-top: 50px !important;
}
.dashboard .content__members .member {
  margin: 0 auto;
  width: 90%;
  height: 120px;
  max-width: 1000px;
  padding-right: 50px;
  border-radius: 1000vmax;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard .content__members .member > div {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.dashboard .content__members .member > div * + * {
  margin-left: 5%;
}
.dashboard .content__members .member .member__info {
  flex: 1 1 auto;
}
.dashboard .content__members .member .member__links {
  justify-content: flex-end;
  width: 200px;
}
.dashboard .content__members .member img {
  height: 100%;
  border-radius: 50%;
}
.dashboard .content__members .member span {
  font-size: 36px;
  font-weight: 500;
}
.dashboard .content__members .member button.tag {
  font-size: 17px;
  padding: 4px 8px;
  border-radius: 1000vmax;
  cursor: auto;
  min-width: 54px;
}
.dashboard .content__members .member-details-view, .dashboard .content__members .member-edit-view {
  background-color: #333;
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;
  left: 0;
  padding: 60px 40px 0;
  box-sizing: border-box;
}
.dashboard .content__members .member-details-view.active, .dashboard .content__members .member-edit-view.active {
  display: block;
}
.dashboard .content__members .member-details-view button.back, .dashboard .content__members .member-edit-view button.back {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 40px;
  transition: transform 0.3s ease;
}
.dashboard .content__members .member-details-view .content-loader, .dashboard .content__members .member-edit-view .content-loader {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .content__members .member-details-view .content-loader svg, .dashboard .content__members .member-edit-view .content-loader svg {
  width: 100%;
  height: 100%;
}
.dashboard .content__members .member-details-view .container, .dashboard .content__members .member-edit-view .container {
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  width: min-content;
  min-width: 460px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: white #2A2A2A;
  scrollbar-width: thin;
}
.dashboard .content__members .member-details-view .container::-webkit-scrollbar-track, .dashboard .content__members .member-edit-view .container::-webkit-scrollbar-track {
  background-color: #2A2A2A;
  border-radius: 1000vmax;
}
.dashboard .content__members .member-details-view .container::-webkit-scrollbar, .dashboard .content__members .member-edit-view .container::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.dashboard .content__members .member-details-view .container::-webkit-scrollbar-thumb, .dashboard .content__members .member-edit-view .container::-webkit-scrollbar-thumb {
  border-radius: 1000vmax;
  background-color: white;
}
.dashboard .content__members .member-details-view .container:after, .dashboard .content__members .member-edit-view .container:after {
  content: "";
  display: flex;
  height: 100%;
  width: 100%;
}
.dashboard .content__members .member-details-view .container__welcome, .dashboard .content__members .member-edit-view .container__welcome {
  display: block;
  width: 100%;
}
.dashboard .content__members .member-details-view .container__section, .dashboard .content__members .member-edit-view .container__section {
  margin: 50px auto 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  text-align: center;
  white-space: nowrap;
}
.dashboard .content__members .member-details-view .container__section > * + *, .dashboard .content__members .member-edit-view .container__section > * + * {
  margin-top: 10px;
}
.dashboard .content__members .member-details-view .container__section > div, .dashboard .content__members .member-edit-view .container__section > div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard .content__members .member-details-view .container__section:last-of-type, .dashboard .content__members .member-edit-view .container__section:last-of-type {
  margin-bottom: 40px;
}
.dashboard .content__members .member-details-view .container img.avatar, .dashboard .content__members .member-edit-view .container img.avatar {
  border-radius: 50%;
  width: 120px;
  position: absolute;
  left: 260px;
  transform: translateY(-25%);
}
.dashboard .content__members .member-details-view .container h2, .dashboard .content__members .member-edit-view .container h2 {
  font-size: 42px;
  margin: 0 auto;
  display: inline-block;
}
.dashboard .content__members .member-details-view .container h3, .dashboard .content__members .member-edit-view .container h3 {
  font-size: 26px;
  margin: 0 0 6px;
}
.dashboard .content__members .member-details-view .container h6, .dashboard .content__members .member-edit-view .container h6 {
  font-size: 18px;
  margin: 0;
  width: 150px;
  text-align: left;
}
.dashboard .content__members .member-details-view .container span, .dashboard .content__members .member-edit-view .container span {
  font-size: 18px;
}
.dashboard .content__members .member-details-view .container button.role, .dashboard .content__members .member-edit-view .container button.role {
  font-size: 14px;
  background: #222;
  border-radius: 1000vmax;
  padding: 4px 12px;
  cursor: auto;
}
.dashboard .content__members .member-details-view .container .input-change, .dashboard .content__members .member-edit-view .container .input-change {
  justify-content: stretch;
}
.dashboard .content__members .member-details-view .container .input-change + .input-change, .dashboard .content__members .member-edit-view .container .input-change + .input-change {
  margin-top: 20px;
}
.dashboard .content__members .member-details-view .container .input-change label, .dashboard .content__members .member-edit-view .container .input-change label {
  width: 160px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
}
.dashboard .content__members .member-details-view .container .input-change input[type=text], .dashboard .content__members .member-edit-view .container .input-change input[type=text] {
  margin-right: 40px;
  width: 200px;
  height: 30px;
  cursor: text;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: normal;
}
.dashboard .content__members .member-details-view .container .input-change input[type=text]::placeholder, .dashboard .content__members .member-edit-view .container .input-change input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__members .member-details-view .container .input-change input[type=text]:-ms-input-placeholder, .dashboard .content__members .member-edit-view .container .input-change input[type=text]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__members .member-details-view .container .input-change input[type=text]::-ms-input-placeholder, .dashboard .content__members .member-edit-view .container .input-change input[type=text]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__members .member-details-view .container .input-change input[type=text]:focus, .dashboard .content__members .member-edit-view .container .input-change input[type=text]:focus {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
}
.dashboard .content__members .member-details-view .container .input-change button.button, .dashboard .content__members .member-edit-view .container .input-change button.button {
  width: 115px;
  padding: 13px 0;
  margin-left: auto;
  background-color: #222;
  transition: background-color 0.15s linear;
}
.dashboard .content__members .member-details-view .container .input-change button.button:hover, .dashboard .content__members .member-edit-view .container .input-change button.button:hover {
  background-color: #1f1f1f;
}
.dashboard .content__members .member-details-view .container .input-change button.button.delete, .dashboard .content__members .member-edit-view .container .input-change button.button.delete {
  background-color: #D84546;
}
.dashboard .content__members .member-details-view .container .input-change button.button.delete:hover, .dashboard .content__members .member-edit-view .container .input-change button.button.delete:hover {
  background-color: #d43435;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown, .dashboard .content__members .member-edit-view .container .input-change .dropdown {
  position: relative;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__button, .dashboard .content__members .member-edit-view .container .input-change .dropdown__button {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__button img, .dashboard .content__members .member-edit-view .container .input-change .dropdown__button img {
  width: 18px;
  margin-left: 10px;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__content, .dashboard .content__members .member-edit-view .container .input-change .dropdown__content {
  background: #282828;
  position: absolute;
  top: 0;
  left: -5px;
  width: 170px;
  transform: translateY(30px);
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  text-transform: capitalize;
  z-index: 10;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__content input, .dashboard .content__members .member-edit-view .container .input-change .dropdown__content input {
  display: none;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__content label, .dashboard .content__members .member-edit-view .container .input-change .dropdown__content label {
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 5px;
  width: 100%;
  text-align: left;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__content > label + input + label, .dashboard .content__members .member-edit-view .container .input-change .dropdown__content > label + input + label {
  border-top: 1px solid #383838;
  padding-top: 5px;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__content label:last-of-type, .dashboard .content__members .member-edit-view .container .input-change .dropdown__content label:last-of-type {
  padding-bottom: 0;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown__content label:hover, .dashboard .content__members .member-edit-view .container .input-change .dropdown__content label:hover {
  color: #BBB;
}
.dashboard .content__members .member-details-view .container .input-change .dropdown.active .dropdown__content, .dashboard .content__members .member-edit-view .container .input-change .dropdown.active .dropdown__content {
  display: flex;
}
.dashboard .content__members .member-details-view .container > .container__section > button.button.delete, .dashboard .content__members .member-edit-view .container > .container__section > button.button.delete {
  margin: 0 auto;
  padding: 16px 0;
  width: 80%;
  font-size: 24px;
  background-color: #D84546;
  transition: background-color 0.15s linear;
}
.dashboard .content__members .member-details-view .container > .container__section > button.button.delete:hover, .dashboard .content__members .member-edit-view .container > .container__section > button.button.delete:hover {
  background-color: #d43435;
}
.dashboard .content__releases {
  margin-top: 60px;
}
.dashboard .content__releases__settings {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 60px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #222;
}
.dashboard .content__releases__settings > * + * {
  margin-left: 40px;
}
.dashboard .content__releases__settings button {
  height: calc(60px / 2);
}
.dashboard .content__releases__settings button img {
  height: calc(60px / 2);
}
.dashboard .content__releases__settings #refresh-releases:not(.animation) img {
  transform: rotate(0);
}
.dashboard .content__releases__settings #refresh-releases.animation img {
  transform: rotate(360deg);
  transition: transform 0.5s ease-out;
}
.dashboard .content__releases .container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 80px;
}
.dashboard .content__releases .container .release_details {
  display: flex;
  flex-flow: column nowrap;
}
.dashboard .content__releases .container .release_details > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard .content__releases .container .release_details > div + div {
  margin-top: 20px;
}
.dashboard .content__releases h2 {
  margin: 0;
  display: inline-block;
  font-size: 24px;
}
.dashboard .content__releases span {
  width: 120px;
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
}
.dashboard .content__releases button.button {
  margin: 30px auto 0;
  padding: 16px 32px;
  font-size: 24px;
  background-color: #D84546;
  transition: background-color 0.15s linear;
}
.dashboard .content__releases button.button:hover {
  background-color: #d43435;
}
.dashboard .content__console {
  font-family: "JetBrains Mono", "Courier New", Clean, sans-serif;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 15px 40px 30px;
  box-sizing: border-box;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: white #2A2A2A;
  scrollbar-width: thin;
}
.dashboard .content__console::-webkit-scrollbar-track {
  background-color: #2A2A2A;
  border-radius: 1000vmax;
}
.dashboard .content__console::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.dashboard .content__console::-webkit-scrollbar-thumb {
  border-radius: 1000vmax;
  background-color: white;
}
.dashboard .content__console > div + div {
  margin-top: 6px;
}
.dashboard .content__console > div > div {
  display: inline;
  word-break: break-all;
}
.dashboard .content__console > div span, .dashboard .content__console > div b {
  font-size: 17px;
}
.dashboard .content__console > div b {
  font-weight: bold;
}
.dashboard .content__settings {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px 40px 15px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: white #2A2A2A;
  scrollbar-width: thin;
}
.dashboard .content__settings::-webkit-scrollbar-track {
  background-color: #2A2A2A;
  border-radius: 1000vmax;
}
.dashboard .content__settings::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.dashboard .content__settings::-webkit-scrollbar-thumb {
  border-radius: 1000vmax;
  background-color: white;
}
.dashboard .content__settings > div {
  margin: 10px 0;
  position: relative;
  width: 44%;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.dashboard .content__settings > div * + * {
  margin-left: 20px;
}
.dashboard .content__settings h2 {
  font-size: 24px;
  text-align: left;
  width: 100%;
  margin: 40px 0 0;
}
.dashboard .content__settings h2:nth-of-type(1) {
  margin: 0;
}
.dashboard .content__settings label {
  width: 140px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  cursor: text;
}
.dashboard .content__settings input[type=text] {
  width: 200px;
  height: 30px;
  cursor: text;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: normal;
}
.dashboard .content__settings input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__settings input[type=text]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__settings input[type=text]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.dashboard .content__settings input[type=text]:focus {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
}
.dashboard .content__settings button.button {
  font-size: 17px;
  padding: 12px 18px;
}

@keyframes loading-image {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=old_admin.css.map */
