@font-face {
  font-family: Clean;
  font-weight: 100;
  src: url("assets/fonts/Clean-100.otf");
}
@font-face {
  font-family: Clean;
  font-weight: 200;
  src: url("assets/fonts/Clean-200.otf");
}
@font-face {
  font-family: Clean;
  font-weight: normal;
  src: url("assets/fonts/Clean-400.otf");
}
@font-face {
  font-family: Clean;
  font-weight: 400;
  src: url("assets/fonts/Clean-400.otf");
}
@font-face {
  font-family: Clean;
  font-weight: bold;
  src: url("assets/fonts/Clean-500.otf");
}
@font-face {
  font-family: Clean;
  font-weight: 500;
  src: url("assets/fonts/Clean-500.otf");
}
@font-face {
  font-family: Whitney;
  src: url("assets/fonts/whitney_medium.ttf");
}
@font-face {
  font-family: Whitney;
  font-weight: bold;
  src: url("assets/fonts/whitney_bold.ttf");
}
html, body {
  color: white;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Clean, sans-serif;
}

::selection {
  color: black;
  background: #E9F0F9;
}

::-moz-selection {
  color: black;
  background: #E9F0F9;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 100;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

input, textarea {
  font-family: inherit;
  color: white;
  border: none;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  color: white;
}
button:hover, button:focus {
  background: none;
}
button:focus {
  outline: none;
}

button.button, a.button, input.button {
  padding: 8px 26px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border: 3px solid rgba(255, 170, 48, 0);
  transition: border-color 0.2s ease-in-out;
  z-index: 10;
  outline: transparent none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button.button:hover, a.button:hover, input.button:hover {
  border: 3px solid #ffaa30;
  outline: none;
}
button.button:focus, a.button:focus, input.button:focus {
  outline: none;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  text-align: center;
}

.title-separator {
  color: white;
  font-size: 38px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}
.title-separator::before, .title-separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid white;
}
.title-separator::before {
  margin-right: 0.25em;
}
.title-separator::after {
  margin-left: 0.25em;
}

.underline, a.underline, a.underline:visited {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: white;
}
.underline:after, a.underline:after, a.underline:visited:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: white;
  transition: 0.4s;
}
.underline:hover:after, a.underline:hover:after, a.underline:visited:hover:after {
  width: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #352746 url("assets/bg_stars_min.svg") center center no-repeat;
  background-size: cover;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  width: 150px;
  animation: loading-image 1s ease-in-out infinite;
}
.loader .orbit {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  transform-origin: 50% 50%;
  animation: rotate 8s linear infinite;
}
.loader .orbit .orbit-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-home * {
  z-index: 1;
}
.section-home .bg {
  background: #352746 url("assets/bg_stars.svg") no-repeat center top;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: calc(100vh + 120px);
  z-index: 0;
}
.section-home .bg-stars {
  background: url("assets/bg_stars.svg") no-repeat center top;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: calc(100vh + 120px);
  z-index: 0;
}
.section-home .navbar {
  position: relative;
  padding-top: 20px;
}
.section-home .navbar * + * {
  margin-left: 30px;
}
.section-home .navbar a.button:last-of-type {
  background-color: #8b50c3;
}
.section-home .grid {
  width: 100%;
  height: calc(100% - 132px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.section-home .grid .text h1 {
  font-size: 60px;
}
.section-home .grid .text h1 span {
  font-weight: 200;
}
.section-home .grid .text p {
  font-size: 24px;
  width: 540px;
  margin: 40px auto 0;
}
.section-home .grid .dashboard-button-container {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}
.section-home .grid .dashboard-button-container img {
  width: 300px;
}
.section-home .grid .dashboard-button-container .jupiter {
  z-index: 2;
  animation: jupiter-animation 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.section-home .grid .dashboard-button-container .jupiter-wave {
  z-index: 1;
  position: absolute;
  animation: jupiter-wave-animation 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: calc(4s * 0.025);
}
.section-home .grid .dashboard-button-container button.button, .section-home .grid .dashboard-button-container a.button {
  z-index: 3;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px;
  font-weight: 400;
  font-size: 28px;
  background-color: #8b50c3;
  padding: 6px 10px;
  width: 274px;
  white-space: nowrap;
  box-sizing: content-box;
}
.section-home .grid .dashboard-button-container button.button.disabled, .section-home .grid .dashboard-button-container a.button.disabled {
  background-color: #666 !important;
  cursor: auto !important;
  pointer-events: none !important;
}
.section-home .grid .dashboard-button-container button.button.disabled:hover, .section-home .grid .dashboard-button-container a.button.disabled:hover {
  background-color: #666 !important;
  transform: none !important;
}

.section-features .bg-shape {
  position: absolute;
  width: 100%;
  height: 1000px;
  left: 0;
  top: 0;
}
.section-features h2 {
  position: relative;
  font-size: 42px;
  font-weight: 500;
  text-align: left;
  padding-top: 100px;
  left: 50%;
  transform: translateX(-500px);
}
.section-features .container {
  position: relative;
  height: 60%;
  width: 1000px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-63%);
}
.section-features .container .mobile {
  position: relative;
  width: 25%;
}
.section-features .container .mobile div {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
}
.section-features .container .mobile div img {
  position: absolute;
  width: 70%;
  bottom: 50px;
  left: 50%;
  transform: translateX(calc(-50% - 10px));
  opacity: 0;
}
.section-features .container .text {
  width: 37.5%;
}
.section-features .container .text .cell {
  display: block;
  width: 100%;
  height: 33.33%;
}
.section-features .container .text .cell .card {
  background: #8b50c3;
  width: 82%;
  height: 111px;
  border-radius: 15px;
  padding: 10px 14px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.section-features .container .text .cell .card:hover {
  transform: translateY(-50%) scale(1.03);
}
.section-features .container .text .cell .card * + * {
  margin-top: 10px;
}
.section-features .container .text .cell .card > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.section-features .container .text .cell .card > div h6 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.section-features .container .text .cell .card > div p {
  color: white;
  font-size: 17px;
  font-weight: 100;
}
.section-features .container .text.left .card {
  text-align: left;
  float: left;
}
.section-features .container .text.right .card {
  text-align: right;
  float: right;
}

.section-faq {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.section-faq .container {
  width: 1000px;
  margin: 0 auto;
}
.section-faq .container .accordion {
  background-color: #8b50c3;
  color: white;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  margin-top: 40px;
}
.section-faq .container .accordion:hover {
  background-color: #8345bf;
}
.section-faq .container .accordion::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
.section-faq .container .accordion.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.section-faq .container .accordion.active::before {
  transform: rotate(90deg) translateX(-3px);
}
.section-faq .container .panel {
  max-height: 0;
  background: #8b50c3;
  background: linear-gradient(350deg, #352746 0%, #8b50c3 100%);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-sizing: content-box;
}
.section-faq .container .panel p {
  margin: 20px auto;
  width: 94%;
  font-size: 17px;
  font-weight: 200;
  text-align: left;
}
.section-faq .container .panel p a {
  font-weight: 500;
}
.section-faq .container .panel .grid {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}
.section-faq .container .panel .grid > div {
  flex-basis: 50%;
  padding: 10px 5%;
  text-align: left;
}
.section-faq .container .panel .grid > div input:not([type=submit]) {
  margin: 30px 0;
  width: 66%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  padding: 12px 22px;
  border-radius: 20px;
}
.section-faq .container .panel .grid > div input:not([type=submit]):focus {
  -webkit-box-shadow: 0 0 24px 5px rgba(139, 80, 195, 0.2);
  box-shadow: 0 0 24px 5px rgba(139, 80, 195, 0.2);
}
.section-faq .container .panel .grid > div input:not([type=submit])::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.section-faq .container .panel .grid > div input:not([type=submit]):-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.section-faq .container .panel .grid > div input:not([type=submit])::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.section-faq .container .panel .grid > div textarea {
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  border-radius: 30px;
  padding: 26px;
  resize: none;
  overflow-y: auto;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  scrollbar-color: white #352746;
  scrollbar-width: thin;
}
.section-faq .container .panel .grid > div textarea::-webkit-scrollbar-track {
  background-color: #352746;
  border-radius: 8px;
}
.section-faq .container .panel .grid > div textarea::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.section-faq .container .panel .grid > div textarea::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: white;
}
.section-faq .container .panel .grid > div textarea:focus {
  -webkit-box-shadow: 0 0 24px 5px rgba(139, 80, 195, 0.2);
  box-shadow: 0 0 24px 5px rgba(139, 80, 195, 0.2);
}
.section-faq .container .panel .grid > div textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.section-faq .container .panel .grid > div textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.section-faq .container .panel .grid > div textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Clean, sans-serif;
}
.section-faq .container .panel .grid > div button {
  background-color: #ff8e00;
  margin: 50px auto;
}
.section-faq .container .panel .grid > div:nth-of-type(1) {
  padding-top: 30px;
}
.footer {
  position: relative;
  width: 100%;
  height: 120px;
}
.footer .bg-shape {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer .text {
  position: relative;
  top: 50%;
  transform: translateY(-20%);
}
.footer .text > * {
  margin-left: 100px;
  font-family: Clean, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.footer .text p {
  margin-top: 18px;
}

@media screen and (max-width: 1400px) {
  .footer .text > * {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .section-faq .container {
    width: 700px;
  }
  .section-faq .container .panel .grid > div input {
    margin: 20px 0;
  }
  .section-faq .container .panel .grid > div button {
    margin: 36px 0;
  }

  .footer .text > * {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .section-features {
    height: auto;
  }
  .section-features h2 {
    font-size: 36px;
    transform: translateX(-400px);
  }
  .section-features .container {
    width: 800px;
    height: 50%;
    top: 0;
    transform: translate(0, 0);
    margin: 100px auto;
  }
  .section-features .container .text .cell {
    height: 140px;
  }
  .section-features .container .text .cell .card {
    padding: 0 14px;
  }
  .section-features .container .text .cell .card > div h6 {
    font-size: 16px;
  }
  .section-features .container .text .cell .card > div p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .footer .text > * {
    margin-left: 40px;
  }
  .footer .text p {
    margin-top: 13px;
  }
}
@media screen and (max-width: 900px) {
  .section-features h2 {
    transform: translateX(-272px);
  }
  .section-features .container {
    width: 600px;
    margin: 80px auto;
  }
  .section-features .container .mobile {
    display: none;
  }
  .section-features .container .text {
    width: 50%;
  }
  .section-features .container .text .cell {
    height: 180px;
  }
  .section-features .container .text .cell .card {
    width: calc(100% - 80px);
    padding: 10px 14px;
    text-align: center;
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .section-features h2 {
    font-size: 32px;
  }

  .section-faq .container {
    width: 540px;
  }
  .section-faq .container .panel .grid > div input {
    font-size: 14px;
    padding: 10px 18px;
    margin: 14px 0;
  }
  .section-faq .container .panel .grid > div button {
    font-size: 18px;
    padding: 8px 23px;
    margin: 28px 0;
  }

  .footer .text > * {
    margin-left: 20px;
    font-size: 15px;
  }
  .footer .text p {
    margin-top: 10px;
  }
}
@media screen and (min-width: 701px) and (max-height: 650px) {
  .section-home .grid .text h1 {
    font-size: 50px;
  }
  .section-home .grid .text p {
    font-size: 22px;
    width: 500px;
  }
  .section-home .grid .dashboard-button-container img {
    width: 250px;
  }
  .section-home .grid .dashboard-button-container button.button, .section-home .grid .dashboard-button-container a.button {
    font-size: 24px;
    width: 230px;
    border-width: 3px;
  }
}
@media screen and (max-width: 700px) {
  .section-home .navbar * + * {
    margin-left: 20px;
  }
  .section-home .navbar button.button {
    font-size: 18px;
    border-width: 3px;
  }
  .section-home .grid .text h1 {
    font-size: 50px;
  }
  .section-home .grid .text p {
    font-size: 20px;
    width: 450px;
  }
  .section-home .grid .dashboard-button-container img {
    width: 250px;
  }
  .section-home .grid .dashboard-button-container button.button, .section-home .grid .dashboard-button-container a.button {
    font-size: 24px;
    width: 230px;
    border-width: 3px;
  }

  .section-features h2 {
    transform: translateX(-174px);
  }
  .section-features .container {
    width: 90%;
  }
  .section-features .container .text {
    display: block;
    width: 400px;
    margin: 0 auto;
  }
  .section-features .container .text .cell {
    height: 160px;
  }
}
@media screen and (max-width: 600px) {
  .section-faq h2.title-separator {
    font-size: 34px;
    margin-bottom: 32px;
  }
  .section-faq .container {
    width: 88%;
  }
  .section-faq .container .panel .grid > div {
    flex-basis: 45%;
  }
  .section-faq .container .panel .grid > div input {
    width: 90%;
  }
  .section-faq .container .panel .grid > div:nth-of-type(2) {
    flex-basis: 55%;
  }

  .footer .text {
    transform: translateY(-10%);
  }
  .footer .text > * {
    margin-left: 10px;
  }
}
@media screen and (max-width: 550px) {
  .section-home .grid .text h1 {
    font-size: 44px;
  }
  .section-home .grid .text p {
    font-size: 18px;
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .section-features h2 {
    font-size: 30px;
    left: 16%;
    transform: translateX(0);
  }
  .section-features .container {
    width: 70%;
    margin: 40px auto;
  }
  .section-features .container .text {
    width: 100%;
  }
  .section-features .container .text .cell .card {
    width: 100%;
    box-sizing: border-box;
  }

  .section-faq {
    margin-bottom: 50px;
  }
  .section-faq h2.title-separator {
    font-size: 28px;
    margin-bottom: 0;
  }
  .section-faq .container .accordion {
    font-size: 16px;
  }
  .section-faq .container .panel p {
    font-size: 15px;
  }
  .section-faq .container .panel .grid {
    position: relative;
    flex-flow: column nowrap;
  }
  .section-faq .container .panel .grid > div {
    padding: 10px 18px 0 !important;
  }
  .section-faq .container .panel .grid > div input {
    width: 65%;
    min-width: 240px;
    padding: 12px 16px;
  }
  .section-faq .container .panel .grid > div button {
    margin: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .section-faq .container .panel .grid > div textarea {
    top: 0;
    transform: translateY(0);
    margin-top: 10px;
    min-height: 120px;
  }
  .section-faq .container .panel .grid > div:nth-of-type(2) {
    padding-bottom: 90px !important;
  }
}
@media screen and (max-width: 450px) {
  .section-home .navbar {
    min-width: 310px;
  }
  .section-home .navbar * + * {
    margin-left: 10px;
  }
  .section-home .navbar button.button {
    font-size: 16px;
    border-width: 2px;
    padding: 6px 16px;
  }
  .section-home .grid .text p {
    width: 90%;
  }
  .section-home .grid .dashboard-button-container img {
    width: 220px;
  }
  .section-home .grid .dashboard-button-container button.button, .section-home .grid .dashboard-button-container a.button {
    font-size: 22px;
    width: 210px;
  }

  .footer .text {
    transform: translateY(-2%);
  }
}
@media screen and (max-width: 420px) {
  .section-home .navbar a.button {
    font-size: 18px;
    padding: 6px 16px;
  }
  .section-home .navbar * + * {
    margin-left: 5px;
  }
}
@media screen and (max-width: 400px) {
  .section-features h2 {
    font-size: 26px;
    left: 50%;
    transform: translateX(-130px);
  }
  .section-features .container {
    width: 90%;
    max-width: 270px;
    margin: 30px auto;
  }

  .section-faq h2.title-separator {
    font-size: 26px;
  }
  .section-faq .container .panel .grid > div input {
    width: calc(100% - 36px);
    min-width: 0;
  }
  .section-faq .container .panel .grid > div textarea {
    min-height: 180px;
  }

  .footer .text {
    transform: translateY(-1%);
  }
}
@media screen and (max-width: 350px) {
  .section-home .navbar {
    min-width: 290px;
  }
  .section-home .navbar a.button {
    font-size: 16px;
    padding: 5px 13px;
  }
  .section-home .navbar * + * {
    margin-left: 3px;
  }
}
@media screen and (max-width: 320px) {
  .section-features h2 {
    transform: translateX(0);
    left: 20px;
  }
}
/*@supports not (-ms-ime-align: auto) {
  .section-home .grid {
    justify-content: space-around;
  }
}*/
@keyframes loading-image {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes jupiter-animation {
  0%, 100% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.93);
  }
}
@keyframes jupiter-wave-animation {
  0% {
    opacity: 1;
    transform: scale(0.9);
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    transform: scale(1.5);
  }
  99% {
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

/*# sourceMappingURL=index.css.map */
