<!DOCTYPE html>
<html lang="en">
<head>
	<!--    MAIN INFO    -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jupiter Notify</title>
	<meta name="description" content= "A private Discord group helping you secure limited items with any resellable value." />
	<meta name="keywords" content="jupiter notify, jupiter, cop, sneakers, cop sneakers, cop alert, sneaker alert, discord community, discord cop, shopify monitor, dropshipping, drop shipping">
	
	<!--    MAIN CSS    -->
	<link rel="stylesheet" href="index.css">
	
	<!--    FAVICON    -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="assets/favicons/site.webmanifest">
	<link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#352746">
	<link rel="shortcut icon" href="assets/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#352746">
	<meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffaa30">
</head>
<body>

<div class="section section-home">
	<div class="bg"></div>
	
	<div class="navbar">
		<a class="button" href="#features">Features</a>
		<a class="button" href="#faq">FAQ</a>
		<a class="button" href="#contact" onclick="if(!document.getElementById('contact').classList.contains('active')){document.getElementById('contact').click();}">Contact</a>

		<a class="button"
			<% if (hasMembership) { %>
				href="/dashboard">Dashboard
			<% } else if (isUser) { %>
				href="/logout">Log Out
			<% } else { %>
				href="/auth">Log In
			<% } %>
		</a>
	</div>
	
	<div class="grid">
		<div class="text">
			<h1>Jupiter<span>Notify</span></h1>
			<p>A private Discord group helping you secure limited items with any resellable value.</p>
		</div>
		
		<div class="dashboard-button-container">
			<img class="jupiter" src="assets/jupiter_planet.png" alt="Jupiter planet image" />
			<img class="jupiter-wave" src="assets/jupiter_planet_wave.svg" alt="" />

			<% if (hasMembership) { %>
				<button class="button disabled">Already Subscribed</button>
			<% } else if (!inStock) { %>
				<button class="button disabled">Out of Stock</button>
			<% } else if (isUser && session) { %>
				<button class="button" id="pay-now">Buy Membership</button>
			<% } else { %>
				<a class="button" href="/auth">Log In</a>
			<% } %>
		</div>
	</div>
</div>


<div id="features" class="section section-features">
	<svg class="bg-shape" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 1000 1000" version="1.1" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
	    <g transform="matrix(1,0,0,1,27.6493,126.048)">
	        <path d="M-27.649,-126.048L972.351,-6.048L972.351,873.952L-27.649,873.952L-27.649,-126.048Z" style="fill:rgb(51,51,51);"/>
	    </g>
	</svg>
	
	<h2>Features</h2>
	<table class="container">
		<tr>
			<td class="text left">
				<div class="cell">
					<div class="card">
						<div>
							<h6>Releases</h6>
							<p>Full release guidance for all profitable releases, including early links, resell estimations and post-release analysis.</p>
						</div>
					</div>
				</div>
				<div class="cell">
					<div class="card">
						<div>
							<h6>Monitors</h6>
							<p>24/7 custom monitors tracking 150+ websites including: DSM, Undefeated, Kith, Nike SNKRS and more!</p>
						</div>
					</div>
				</div>
				<div class="cell">
					<div class="card">
						<div>
							<h6>Twitter monitors</h6>
							<p>One of the fastest in the market. Paired with in-depth checkout guides to get ahead of everyone else.</p>
						</div>
					</div>
				</div>
			</td>
			<td class="mobile">
				<svg width="100%" height="100%" viewBox="0 0 1020 1996" shape-rendering="geometricPrecision" version="1.1" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;">
					<g id="Mockup">
						<g id="Discord-App">
							<g id="Background">
								<g transform="matrix(1.00048,0,0,1.03893,-489.061,-2.52608)">
									<rect x="560.67" y="232.7" width="870.6" height="1533.36" style="fill:rgb(54,57,64);"/>
								</g>
								<g transform="matrix(1,0,0,0.619324,-488.794,738.256)">
									<rect x="560.67" y="1766.07" width="870.6" height="191" style="fill:rgb(54,57,62);stroke:black;stroke-width:1px;"/>
								</g>
								<g transform="matrix(1.002,0,0,1,-489.915,6.53271)">
									<rect x="559.67" y="38.92" width="870.6" height="193.78" style="fill:rgb(48,49,54);stroke:black;stroke-width:1px;"/>
								</g>
							</g>
							<g id="Elements">
								<g id="Time" transform="matrix(1,0,0,1,-488.794,6.53271)">
									<path d="M620.77,107.6C620.77,99.88 624.14,94.87 629.86,94.87C635.58,94.87 638.92,99.84 638.92,107.58C638.92,115.37 635.6,120.35 629.86,120.35C624.1,120.35 620.77,115.4 620.77,107.6ZM635.82,107.6C635.82,101.53 633.67,97.57 629.86,97.57C626.05,97.57 623.86,101.57 623.86,107.58C623.86,113.73 626,117.66 629.86,117.66C633.71,117.67 635.82,113.76 635.82,107.6Z" style="fill:white;fill-rule:nonzero;"/>
									<path d="M641.99,107.6C641.99,99.88 645.36,94.87 651.08,94.87C656.8,94.87 660.14,99.84 660.14,107.58C660.14,115.37 656.82,120.35 651.08,120.35C645.33,120.35 641.99,115.4 641.99,107.6ZM657.05,107.6C657.05,101.53 654.9,97.57 651.09,97.57C647.28,97.57 645.09,101.57 645.09,107.58C645.09,113.73 647.23,117.66 651.09,117.66C654.93,117.67 657.05,113.76 657.05,107.6Z" style="fill:white;fill-rule:nonzero;"/>
									<path d="M664.18,105.59C664.18,104.48 665.03,103.64 666.13,103.64C667.24,103.64 668.08,104.48 668.08,105.59C668.08,106.68 667.24,107.54 666.13,107.54C665.03,107.54 664.18,106.68 664.18,105.59ZM664.18,118.17C664.18,117.06 665.03,116.22 666.13,116.22C667.24,116.22 668.08,117.06 668.08,118.17C668.08,119.26 667.24,120.12 666.13,120.12C665.03,120.11 664.18,119.26 664.18,118.17Z" style="fill:white;fill-rule:nonzero;"/>
									<g transform="matrix(1,0,0,1,-16,0)">
										<path d="M687.62,107.6C687.62,99.88 690.99,94.87 696.71,94.87C702.43,94.87 705.77,99.84 705.77,107.58C705.77,115.37 702.45,120.35 696.71,120.35C690.96,120.35 687.62,115.4 687.62,107.6ZM702.68,107.6C702.68,101.53 700.53,97.57 696.72,97.57C692.91,97.57 690.72,101.57 690.72,107.58C690.72,113.73 692.86,117.66 696.72,117.66C700.56,117.67 702.68,113.76 702.68,107.6Z" style="fill:white;fill-rule:nonzero;"/>
									</g>
									<g transform="matrix(1,0,0,1,6,0)">
										<path d="M687.62,107.6C687.62,99.88 690.99,94.87 696.71,94.87C702.43,94.87 705.77,99.84 705.77,107.58C705.77,115.37 702.45,120.35 696.71,120.35C690.96,120.35 687.62,115.4 687.62,107.6ZM702.68,107.6C702.68,101.53 700.53,97.57 696.72,97.57C692.91,97.57 690.72,101.57 690.72,107.58C690.72,113.73 692.86,117.66 696.72,117.66C700.56,117.67 702.68,113.76 702.68,107.6Z" style="fill:white;fill-rule:nonzero;"/>
									</g>
								</g>
								<g id="Connectivity">
									<g transform="matrix(1,0,0,1,-488.794,6.53271)">
										<path d="M1250.08,104.32L1246.46,104.32C1245.78,104.32 1245.23,104.87 1245.23,105.55L1245.23,111.72C1245.23,112.4 1245.78,112.95 1246.46,112.95L1250.08,112.95C1250.76,112.95 1251.31,112.4 1251.31,111.72L1251.31,105.55C1251.31,104.87 1250.76,104.32 1250.08,104.32Z" style="fill:white;fill-rule:nonzero;"/>
									</g>
									<g transform="matrix(1,0,0,1,-488.794,6.53271)">
										<path d="M1259.99,99.65L1256.37,99.65C1255.69,99.65 1255.14,100.2 1255.14,100.88L1255.14,111.72C1255.14,112.4 1255.69,112.95 1256.37,112.95L1259.99,112.95C1260.67,112.95 1261.22,112.4 1261.22,111.72L1261.22,100.88C1261.22,100.2 1260.67,99.65 1259.99,99.65Z" style="fill:white;fill-rule:nonzero;"/>
									</g>
									<g transform="matrix(1,0,0,1,-488.794,6.53271)">
										<path d="M1270.21,95.69L1266.59,95.69C1265.91,95.69 1265.36,96.24 1265.36,96.92L1265.36,111.72C1265.36,112.4 1265.91,112.95 1266.59,112.95L1270.21,112.95C1270.89,112.95 1271.44,112.4 1271.44,111.72L1271.44,96.92C1271.44,96.24 1270.89,95.69 1270.21,95.69Z" style="fill:white;fill-rule:nonzero;"/>
									</g>
									<g transform="matrix(1,0,0,1,-488.794,6.53271)">
										<path d="M1280.46,90.68L1276.84,90.68C1276.16,90.68 1275.61,91.23 1275.61,91.91L1275.61,111.72C1275.61,112.4 1276.16,112.95 1276.84,112.95L1280.46,112.95C1281.14,112.95 1281.69,112.4 1281.69,111.72L1281.69,91.91C1281.68,91.23 1281.13,90.68 1280.46,90.68Z" style="fill:rgb(90,91,95);fill-rule:nonzero;"/>
									</g>
								</g>
								<g id="Hamburger" transform="matrix(1,0,0,1,-488.794,6.53271)">
									<g transform="matrix(1,0,0,1,0,-1)">
										<rect x="617.63" y="178.64" width="37.98" height="3.69" style="fill:white;"/>
									</g>
									<rect x="617.63" y="187.64" width="37.98" height="3.69" style="fill:white;"/>
									<g transform="matrix(1,0,0,1,0,1)">
										<rect x="617.63" y="196.64" width="37.98" height="3.69" style="fill:white;"/>
									</g>
								</g>
								<g id="Channel" transform="matrix(1,0,0,1,-446.794,4.53271)">
									<g id="Hashtag">
										<rect x="680.53" y="182.85" width="31.91" height="3.13" style="fill:rgb(105,106,111);"/>
										<rect x="678.98" y="195.92" width="31.91" height="3.13" style="fill:rgb(105,106,111);"/>
										<g transform="matrix(-0.1393,0.9903,-0.9903,-0.1393,973.758,-464.283)">
											<rect x="672.7" y="189.48" width="31.91" height="3.13" style="fill:rgb(105,106,111);"/>
										</g>
										<g transform="matrix(-0.1393,0.9903,-0.9903,-0.1393,990.003,-477.843)">
											<rect x="686.71" y="189.76" width="31.91" height="3.13" style="fill:rgb(105,106,111);"/>
										</g>
									</g>
									<g id="Channel-text" transform="matrix(1,0,0,1,448.794,-4.53271)">
										<text x="282px" y="207.653px" style="font-family:Whitney,sans-serif;font-weight:bold;font-size:46px;fill:white;"><tspan>welcome</tspan></text>
									</g>
								</g>
								<g id="Icons">
									<g>
										<g transform="matrix(0.7071,0.7071,-0.7071,0.7071,25.3818,-833.542)">
											<rect x="1263.47" y="199.06" width="15.36" height="3.13" style="fill:rgb(174,175,179);"/>
										</g>
										<g transform="matrix(1,0,0,1,-488.794,6.53271)">
											<circle cx="1257.61" cy="186.99" r="11.06" style="fill:none;stroke:rgb(174,175,179);stroke-width:3px;"/>
										</g>
									</g>
									<g>
										<g transform="matrix(1,0,0,1,-488.794,6.53271)">
											<circle cx="1369.05" cy="184.96" r="9.03" style="fill:rgb(174,175,179);"/>
										</g>
										<g transform="matrix(1,0,0,1,-488.794,6.53271)">
											<path d="M1369.05,198.05C1360.49,198.05 1353.56,202.93 1353.5,208.97L1384.61,208.97C1384.55,202.93 1377.61,198.05 1369.05,198.05Z" style="fill:rgb(174,175,179);fill-rule:nonzero;"/>
										</g>
										<g transform="matrix(1,0,0,1,-488.794,6.53271)">
											<path d="M1384.88,175.98C1382.99,175.98 1381.26,176.62 1379.87,177.69C1383.56,180.97 1383.86,187.27 1381.1,191.5C1382.23,192.09 1383.52,192.43 1384.88,192.43C1389.42,192.43 1393.11,188.75 1393.11,184.2C1393.11,179.65 1389.42,175.98 1384.88,175.98Z" style="fill:rgb(174,175,179);fill-rule:nonzero;"/>
										</g>
										<g transform="matrix(1,0,0,1,-488.794,6.53271)">
											<path d="M1385.2,196.12C1382.86,196.12 1380.68,196.62 1378.79,197.47C1382.91,198.53 1387.36,201.39 1389.13,206.06L1398.04,206.06C1397.99,200.57 1392.27,196.12 1385.2,196.12Z" style="fill:rgb(174,175,179);fill-rule:nonzero;"/>
										</g>
									</g>
								</g>
								<g id="Wifi" transform="matrix(0.131716,0,0,0.131716,812.682,92.334)">
									<path d="M169.274,156.029C156.689,143.445 139.312,135.652 120.152,135.652C100.99,135.652 83.613,143.445 71.029,156.029L43.302,128.302C62.991,108.614 90.175,96.417 120.152,96.417C150.129,96.417 177.312,108.614 197.002,128.302L169.274,156.029ZM88.711,173.711L120.152,205.152L151.593,173.711C143.546,165.668 132.43,160.691 120.152,160.691C107.873,160.691 96.758,165.668 88.711,173.711ZM120.152,74.383C156.205,74.383 188.898,89.047 212.576,112.729L240.305,85.002C209.521,54.217 167.021,35.152 120.153,35.152C73.283,35.152 30.783,54.217 0,85.002L27.728,112.729C51.406,89.047 84.1,74.383 120.152,74.383Z" style="fill:white;fill-rule:nonzero;"/>
								</g>
								<g id="Battery">
									<g transform="matrix(1,0,0,1,-484.975,6)">
										<path d="M1391.47,112.4L1356.12,112.4C1353.21,112.4 1350.85,110.04 1350.85,107.13L1350.85,96.49C1350.85,93.58 1353.21,91.22 1356.12,91.22L1391.47,91.22C1394.38,91.22 1396.74,93.58 1396.74,96.49L1396.74,107.14C1396.74,110.04 1394.38,112.4 1391.47,112.4Z" style="fill:none;fill-rule:nonzero;stroke:rgb(113,121,124);stroke-width:2px;"/>
									</g>
									<g transform="matrix(1,0,0,1,-484.975,6)">
										<path d="M1399.39,98.52L1399.31,105.09C1399.34,105.09 1399.36,105.1 1399.39,105.1C1400.9,105.1 1402.12,103.63 1402.12,101.81C1402.13,99.99 1400.9,98.52 1399.39,98.52Z" style="fill:rgb(113,121,124);fill-rule:nonzero;"/>
									</g>
									<g transform="matrix(1,0,0,1,-484.975,6)">
										<path d="M1356.18,93.78C1354.66,93.78 1353.42,95.02 1353.42,96.54L1353.42,107.09C1353.42,108.61 1354.66,109.85 1356.18,109.85L1386.19,109.85L1386.19,93.78L1356.18,93.78Z" style="fill:white;fill-rule:nonzero;"/>
									</g>
								</g>
								<g id="Bottom-bar" transform="matrix(1,0,0,1,-348.846,74.1796)">
									<g transform="matrix(2.99272,0,0,2.99272,467.814,1784.95)">
										<path d="M14,14.996C14,15.55 13.55,16 12.996,16L3.005,16C2.45,16 2,15.55 2,14.995C2,12.113 2,3.847 2,0.987C2,0.726 2.104,0.474 2.289,0.289C2.474,0.104 2.726,0 2.987,0C5.127,0 10,0 10,0L14,4L14,14.996ZM4,11.5L4,13.585C4,13.814 4.186,14 4.415,14C5.793,14 10.209,14 11.586,14C11.815,14 12,13.815 12,13.586C12,13.083 12,12.3 12,12.3C12,12.3 12.1,11 10.7,10.8C9.4,10.6 9.2,11.2 8.2,11.3C7.4,11.3 7.6,10 6,10C4.8,10 4,11.5 4,11.5ZM10.5,7C11.328,7 12,7.672 12,8.5C12,9.328 11.328,10 10.5,10C9.672,10 9,9.328 9,8.5C9,7.672 9.672,7 10.5,7ZM10.221,1.221C10.184,1.184 10.128,1.173 10.08,1.193C10.032,1.213 10,1.26 10,1.313C10,2.162 10,3.011 10,3.86C10,3.937 10.063,4 10.14,4C10.591,4 12.015,4 12.667,4C12.723,4 12.773,3.966 12.795,3.915C12.816,3.863 12.804,3.804 12.765,3.765C12.2,3.2 10.771,1.771 10.221,1.221Z" style="fill:rgb(143,146,153);"/>
									</g>
									<g transform="matrix(0.0823275,0,0,0.0823275,547.058,1790.58)">
										<path d="M236.966,0C367.751,0 473.932,106.181 473.932,236.966C473.932,367.751 367.751,473.932 236.966,473.932C106.181,473.932 0,367.751 0,236.966C0,106.181 106.181,0 236.966,0ZM377.463,288.868C377.463,352.832 314.551,404.683 236.951,404.683C159.355,404.683 96.446,352.832 96.446,288.868L377.463,288.868ZM164.937,118.011C185.477,118.011 202.153,134.687 202.153,155.227C202.153,175.767 185.477,192.443 164.937,192.443C144.397,192.443 127.721,175.767 127.721,155.227C127.721,134.687 144.397,118.011 164.937,118.011ZM305.664,118.011C326.204,118.011 342.88,134.687 342.88,155.227C342.88,175.767 326.204,192.443 305.664,192.443C285.124,192.443 268.448,175.767 268.448,155.227C268.448,134.687 285.124,118.011 305.664,118.011Z" style="fill:rgb(143,146,153);"/>
									</g>
									<g transform="matrix(2.39045,0,0,2.39045,-1095.72,-2406.25)">
										<text x="722.068px" y="1769px" style="font-family:Whitney,sans-serif;font-weight:normal;font-size:16px;fill:rgb(82,86,89);"><tspan>Message</tspan></text>
									</g>
									<g transform="matrix(1,0,0,1,-161.645,-66.2946)">
										<path d="M1366.8,1894.87C1366.64,1895.43 1366.83,1896.04 1367.29,1896.41C1367.74,1896.78 1368.37,1896.84 1368.89,1896.57C1376.33,1892.7 1395.43,1882.76 1402.34,1879.16C1402.83,1878.91 1403.14,1878.4 1403.13,1877.85C1403.13,1877.29 1402.82,1876.79 1402.32,1876.54C1395.41,1873.06 1376.41,1863.49 1368.94,1859.72C1368.4,1859.45 1367.75,1859.52 1367.29,1859.9C1366.83,1860.29 1366.63,1860.91 1366.8,1861.49C1368.27,1866.67 1370.95,1876.1 1370.95,1876.1L1386.28,1877.83L1370.97,1880.11C1370.97,1880.11 1368.27,1889.67 1366.8,1894.87Z" style="fill:rgb(143,146,153);"/>
									</g>
								</g>
							</g>
						</g>
						<g id="iPhone-Frame" shape-rendering="geometricPrecision">
							<g transform="matrix(1,0,0,1,-631.963,-36.3599)">
								<g opacity="0.6">
									<g transform="matrix(-1.56777,-0.0892622,-0.0892622,1.56777,147.12,174.207)">
										<path d="M-334.3,270.94C-331.65,271.09 -329.62,273.36 -329.77,276.01L-334.3,355.5C-334.45,358.15 -336.72,360.18 -339.37,360.03L-334.3,270.94Z" style="fill:url(#_Linear1);fill-rule:nonzero;"/>
									</g>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,-631.963,-36.3599)">
								<g opacity="0.6">
									<g transform="matrix(-1.56777,-0.0892686,-0.0892686,1.56777,147.12,136.163)">
										<path d="M-329.05,178.84C-326.4,178.99 -324.37,181.26 -324.52,183.91L-329.05,263.39C-329.2,266.04 -331.47,268.07 -334.12,267.92L-329.05,178.84Z" style="fill:url(#_Linear2);fill-rule:nonzero;"/>
									</g>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,-631.963,-36.3599)">
								<g opacity="0.6">
									<g transform="matrix(-1.57038,0.0535468,0.0535468,1.57038,354.449,155.269)">
										<path d="M-807.95,243.02C-810.6,243.11 -812.68,245.34 -812.59,247.99L-807.95,384.07C-807.86,386.72 -805.63,388.8 -802.98,388.71L-807.95,243.02Z" style="fill:url(#_Linear3);fill-rule:nonzero;"/>
									</g>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,-631.963,-36.3599)">
								<g opacity="0.6">
									<g transform="matrix(-1.56087,-0.171945,-0.171945,1.56087,147.116,99.6426)">
										<path d="M-330.56,93.33C-327.92,93.62 -326.02,96 -326.31,98.64L-330.56,137.23C-330.85,139.87 -333.23,141.78 -335.87,141.48L-330.56,93.33Z" style="fill:url(#_Linear4);fill-rule:nonzero;"/>
									</g>
								</g>
							</g>
							<g id="Gray-frame" transform="matrix(1,0,0,1,-487.975,0)">
								<path d="M1334.56,0C1421.05,0 1491.18,70.12 1491.18,156.62L1491.18,1839.14C1491.18,1925.64 1421.05,1995.77 1334.56,1995.77L657.38,1995.77C570.88,1995.77 500.76,1925.65 500.76,1839.14L500.76,156.62C500.75,70.12 570.88,0 657.38,0L1334.56,0ZM751.74,52.5L652.56,52.5C601.81,52.5 560.68,93.63 560.68,144.38L560.68,1851.38C560.68,1902.13 601.82,1943.26 652.56,1943.26L1339.39,1943.26C1390.14,1943.26 1431.27,1902.13 1431.27,1851.38L1431.27,144.38C1431.27,93.63 1390.14,52.5 1339.39,52.5L1244.07,52.5C1239.72,59.52 1236.23,68 1236.23,77.11C1236.23,101.41 1216.42,121.11 1191.98,121.11L801.92,121.11C796.72,121.05 791.6,120.23 786.7,118.44C773.56,113.66 763.18,102.61 759.33,89.16C758.52,86.33 758,83.43 757.78,80.5C757.54,77.41 757.66,74.32 757.29,71.24C756.54,64.97 754.62,58.92 752.03,53.17L751.74,52.5Z" style="fill:rgb(200,198,199);fill-rule:nonzero;"/>
							</g>
							<g id="Notch" transform="matrix(1,0,0,1,-487.975,0)">
								<path d="M1359.02,1941.16C1352.69,1942.54 1346.13,1943.26 1339.39,1943.26C1346.12,1943.26 1352.69,1942.54 1359.02,1941.16ZM1412.47,88.69C1424.26,104.14 1431.27,123.44 1431.27,144.38L1431.27,1851.38C1431.27,1872.32 1424.27,1891.63 1412.47,1907.08C1424.26,1891.63 1431.27,1872.33 1431.27,1851.38L1431.27,144.38C1431.26,123.44 1424.26,104.14 1412.47,88.69ZM1359.02,54.61C1352.69,53.23 1346.12,52.5 1339.39,52.5L1244.07,52.5C1239.72,59.52 1236.23,68 1236.23,77.11C1236.23,101.41 1216.42,121.11 1191.98,121.11L801.92,121.11C796.72,121.05 791.6,120.23 786.7,118.44C773.56,113.66 763.18,102.61 759.33,89.16C758.52,86.33 758,83.43 757.78,80.5C757.54,77.41 757.66,74.32 757.29,71.24C756.51,64.73 754.47,58.45 751.72,52.51L1339.37,52.51C1346.13,52.5 1352.69,53.23 1359.02,54.61Z" style="fill:rgb(35,31,32);fill-rule:nonzero;stroke:rgb(6,8,8);stroke-width:1px;"/>
							</g>
							<g id="Black-frame" transform="matrix(1,0,0,1,-487.975,0)" shape-rendering="geometricPrecision">
								<path shape-rendering="geometricPrecision" d="M1333.07,8.96C1359.12,8.96 1383.62,15.73 1404.9,27.62C1407.51,29.08 1410.07,30.62 1412.58,32.23C1421.6,38.01 1429.95,44.75 1437.49,52.3C1442.24,57.06 1446.68,62.14 1450.75,67.51C1452.71,70.09 1454.59,72.74 1456.37,75.44C1471.77,98.75 1480.75,126.67 1480.75,156.64L1480.75,1839.18C1480.75,1862.03 1475.53,1883.68 1466.23,1903.02C1463.63,1908.41 1460.72,1913.64 1457.51,1918.64C1451.73,1927.63 1445.01,1935.98 1437.49,1943.51C1429.95,1951.06 1421.6,1957.79 1412.59,1963.57C1410.08,1965.19 1407.52,1966.71 1404.91,1968.17C1383.64,1980.07 1359.14,1986.85 1333.08,1986.85L658.88,1986.85C632.09,1986.85 606.94,1979.68 585.25,1967.16C581.34,1964.89 577.53,1962.46 573.86,1959.86C566.94,1954.97 560.45,1949.49 554.47,1943.51C546.95,1935.98 540.22,1927.63 534.46,1918.64C531.25,1913.64 528.33,1908.42 525.74,1903.02C516.43,1883.69 511.22,1862.03 511.22,1839.18L511.22,156.62C511.22,126.65 520.19,98.74 535.59,75.42C537.38,72.72 539.26,70.07 541.22,67.49C545.3,62.12 549.73,57.04 554.48,52.28C560.46,46.3 566.95,40.83 573.87,35.94C577.55,33.33 581.35,30.9 585.26,28.64C606.95,16.11 632.1,8.95 658.89,8.95L1333.07,8.95L1333.07,8.96ZM751.74,52.5L652.56,52.5C601.81,52.5 560.68,93.63 560.68,144.38L560.68,1851.38C560.68,1902.13 601.82,1943.26 652.56,1943.26L1339.39,1943.26C1390.14,1943.26 1431.27,1902.13 1431.27,1851.38L1431.27,144.38C1431.27,93.63 1390.14,52.5 1339.39,52.5L1244.07,52.5C1239.72,59.52 1236.23,68 1236.23,77.11C1236.23,101.41 1216.42,121.11 1191.98,121.11L801.92,121.11C796.72,121.05 791.6,120.23 786.7,118.44C773.56,113.66 763.18,102.61 759.33,89.16C758.52,86.33 758,83.43 757.78,80.5C757.54,77.41 757.66,74.32 757.29,71.24C756.54,64.97 754.62,58.92 752.03,53.17L751.74,52.5Z" style="fill-rule:nonzero;"/>
							</g>
							<g transform="matrix(1,0,0,1,-631.963,-36.3599)">
								<g opacity="0.6">
									<g transform="matrix(1,0,0,1,262.185,51.7959)">
										<path d="M938.04,58.78C938.04,64.06 933.75,68.35 928.47,68.35L825.33,68.35C820.05,68.35 815.76,64.07 815.76,58.78C815.76,53.49 820.05,49.21 825.33,49.21L928.47,49.21C933.75,49.21 938.04,53.49 938.04,58.78" style="fill:rgb(6,8,8);fill-rule:nonzero;"/>
									</g>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,-631.963,-36.3599)">
								<g opacity="0.6">
									<g transform="matrix(0,-1,-1,0,272.083,48.9221)">
										<path d="M-63.51,-991.41C-72.17,-991.41 -79.2,-984.4 -79.2,-975.73C-79.2,-967.07 -72.18,-960.05 -63.51,-960.05C-54.85,-960.05 -47.83,-967.07 -47.83,-975.73C-47.83,-984.4 -54.85,-991.41 -63.51,-991.41" style="fill:rgb(6,8,8);fill-rule:nonzero;"/>
									</g>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,-631.963,-36.3599)">
								<g opacity="0.6">
									<g transform="matrix(2.2666,5.74624e-06,5.74624e-06,-2.2666,1308.07,-863.296)">
										<path d="M-26.58,-425.67C-23.925,-425.67 -21.77,-427.825 -21.77,-430.48C-21.77,-433.135 -23.925,-435.29 -26.58,-435.29C-29.235,-435.29 -31.39,-433.135 -31.39,-430.48C-31.39,-427.825 -29.235,-425.67 -26.58,-425.67Z" style="fill:url(#_Radial5);"/>
									</g>
								</g>
							</g>
							<g transform="matrix(0,-1,-1,0,-360.456,14.4537)">
								<path d="M-57.81,-976.31C-59.34,-976.31 -60.58,-975.06 -60.58,-973.54C-60.58,-972.01 -59.34,-970.77 -57.81,-970.77C-56.28,-970.77 -55.04,-972.01 -55.04,-973.54C-55.04,-975.06 -56.28,-976.31 -57.81,-976.31" style="fill:rgb(241,241,242);fill-rule:nonzero;"/>
							</g>
						</g>
					</g>
					<defs>
						<linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(7.50455,0.857328,-0.857328,7.50455,-332.032,315.724)"><stop offset="0" style="stop-color:white;stop-opacity:1"/><stop offset="1" style="stop-color:rgb(35,31,32);stop-opacity:1"/></linearGradient>
						<linearGradient id="_Linear2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(7.5038,0.857343,-0.857343,7.5038,-326.75,223.613)"><stop offset="0" style="stop-color:white;stop-opacity:1"/><stop offset="1" style="stop-color:rgb(35,31,32);stop-opacity:1"/></linearGradient>
						<linearGradient id="_Linear3" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(7.53519,-0.514497,0.514497,7.53519,-805.501,315.914)"><stop offset="0" style="stop-color:white;stop-opacity:1"/><stop offset="1" style="stop-color:rgb(35,31,32);stop-opacity:1"/></linearGradient>
						<linearGradient id="_Linear4" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(7.37218,1.64422,-1.64422,7.37218,-328.404,117.981)"><stop offset="0" style="stop-color:white;stop-opacity:1"/><stop offset="1" style="stop-color:rgb(35,31,32);stop-opacity:1"/></linearGradient>
						<radialGradient id="_Radial5" cx="0" cy="0" r="1" gradientTransform="matrix(-10.8971,0,0,10.8971,-26.5953,-430.483)"><stop offset="0" style="stop-color:rgb(38,34,97);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(0,0,25);stop-opacity:1"/></radialGradient>
					</defs>
				</svg>
				<div></div>
			</td>
			<td class="text right">
				<div class="cell">
					<div class="card">
						<div>
							<h6>Raffle link Bot</h6>
							<p>Enter all raffles and never miss an opportunity to make profit.</p>
						</div>
					</div>
				</div>
				<div class="cell">
					<div class="card">
						<div>
							<h6>In-store info</h6>
							<p>Get help from specialised staff for cook limited releases, shock drops and brick flips in cities like NYC.</p>
						</div>
					</div>
				</div>
				<div class="cell">
					<div class="card">
						<div>
							<h6>Community</h6>
							<p>Friendly members willing to help each other generate profits as well as supportive staff.</p>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>


<div id="faq" class="section section-faq">
	<h2 class="title-separator">Get to know us more</h2>
	<div class="container">
		<button class="accordion">What is Jupiter Notify?</button>
		<div class="panel">
			<p>
				Jupiter Notify is a community of resellers that work together to buy the most limited items.
				We help each other secure highly-demanded sneakers and items to help you generate large amounts of profit.
			</p>
		</div>
		
		<button class="accordion">What do I get if I buy a membership?</button>
		<div class="panel">
			<p>
				With $15 a month you will have the chance to enjoy our fast monitors, shock drops and restocks notifications,
				raffle link bot, release guides, custom scripts, guides, bot support, post-release analysis, tools, groupbuys
				and everything you will need to make sure you cop.
			</p>
		</div>
		
		<button class="accordion">How long does the membership last?</button>
		<div class="panel">
			<p>
				Our membership lasts 30 days, which is automatically renewed at the end of the cycle.
				Members can cancel or update their payment details through our dashboard.
			</p>
		</div>
		
		<button class="accordion">How often do you restock?</button>
		<div class="panel">
			<p>
				We do random restocks every month and announce them on our Twitter account.
				In order to be notified of a restock we highly recommend you follow us on Twitter
				by <b><a href="https://twitter.com/JupiterNotify" target="_blank">clicking here</a></b>.
			</p>
		</div>
		
		<button class="accordion">Do you offer groupbuys?</button>
		<div class="panel">
			<p>
				Every now and then we do provide groupbuys with bots, tools and other services for our members to take advantage of.
			</p>
		</div>
		
		<button id="contact" class="accordion">Have another question? Contact Us</button>
		<div class="panel">
			<div class="grid">
				<div>
					<input type="text" placeholder="Name" spellcheck="false">
					<input type="email" placeholder="Email" spellcheck="false">
					<button class="button">Submit</button>
				</div>
				<div>
					<textarea placeholder="Text" maxlength="500" spellcheck="false"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="footer">
	<svg class="bg-shape" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 1000 120" version="1.1" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
	    <g transform="matrix(1,0,0,1,27.649,126.048)">
	        <path d="M-27.649,-126.048L972.351,-6.048L-27.649,-6.048L-27.649,-126.048Z" style="fill:rgb(139,80,195);"/>
	    </g>
	</svg>
	
	<div class="text">
		<a href="terms.html" class="underline">Terms & Conditions</a>
		<p>Jupiter Notify Ltd ©</p>
	</div>
</div>


<div class="loader">
	<img src="assets/jupiter_planet_smaller_min.png" alt="" />
	<div class="orbit">
		<div class="orbit-circle"></div>
	</div>
</div>



<!--    JS LIBRARIES    -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap/dist/gsap.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>

<!--    MAIN JS    -->
<script type="text/javascript">
	const STRIPE_KEY = "<%= stripeKey %>";
	const SESSION = "<%= session %>" ? JSON.parse('<%-JSON.stringify(session)%>') : undefined;
</script>
<script src="index.js"></script>
</body>
</html>