<!DOCTYPE html>
<html lang="en">
<head>
	<!--    MAIN INFO    -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Payment <%= status %></title>
	
	<!--    MAIN CSS    -->
	<link rel="stylesheet" href="/payment-response.css">

	<!--    FAVICON    -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="assets/favicons/site.webmanifest">
	<link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#352746">
	<link rel="shortcut icon" href="assets/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#352746">
	<meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffaa30">
</head>
<body>

<div class="container">
	<% if(status==="success") { %>
		<h1>Payment was successful</h1>
	<% } else { %>
		<h1>Payment was cancelled</h1>
	<% } %>
	<% if(status==="success") { %>
		<p>Thanks for subscribing! If you have any issues, please contact a member of staff, we'll be glad to help.</p>
		<a class="button" href="/dashboard">Go to Dashboard</a>
	<% } else { %>
		<p>Something went wrong during the payment phase. If you can't complete the payment, please contact a member of staff, we'll be glad to help.</p>
		<a class="button" href="/">Go Back</a>
	<% } %>
</div>


<!--    JS LIBRARIES    -->
<script></script>

</body>
</html>